#words{
	font-size:3vw;
}

@font-face {
    font-family: 'cinzelregular';
    src: url('cinzel-regular-webfont.woff2') format('woff2'),
         url('cinzel-regular-webfont.woff') format('woff'),
         url('cinzel-regular-webfont.ttf') format('truetype'),
         url('cinzel-regular-webfont.svg#cinzelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family:'Cinzel';
	font-style:italic;
	color:#edb;
}

#btn{
}

#tip{
	text-align:center;
	font-size:2vw;
	padding:2vw;
}

#title{
	font-size: 7.5vw;
  overflow: hidden;
  white-space: nowrap;
	letter-spacing:.4vw;
	text-transform:uppercase;
}

#titleMini{
	margin-top:1vw;
	font-size: 1.5vw;
	text-transform:uppercase;
}

#lyrics{
	font-size:1vw;
	white-space: pre-line;
}

@media screen and (max-width: 800px) {
	.small{
		font-size:4vw !important;
	}
	.lead{
		font-size:4vw !important;
	}
	#lyrics{
		font-size:5vw;
	}
}
@media screen and (max-width: 1300px) {
	.small{
		font-size:3vw !important;
	}
	.lead{
		font-size:2.5vw !important;
	}
	#lyrics{
		font-size:3.5vw;
	}
}

@media screen and (max-width: 1550px) {
	.small{
		font-size:2vw !important;
	}
	.lead{
		font-size:1.6vw !important;
	}
	#lyrics{
		font-size:1.5vw;
	}
}


#albumCont{
	height:20vw;
	width:20vw;
	display:inline-block;
	background-color:#edb;
	padding:.2vw;
}
#album{
	width:100%;
}

#from{
	font-size:1.2vw;
}

#info{
	display:hidden;
}

body{
	background-color:#000;
}

hr{
	 border: none;
  border-top: 1px solid ;
	color:#edb;	
}


.container h1{
	font-family:'Cinzel';
	font-style:italic;
	color:#edb;

}

.container-fluid .jumbotron{
	background-color:#000;
	padding-bottom:0em;
}

.row .column{
	text-align:center;
	margin-bottom:1vw !important;
	margin-top:5vw;
}


