#words{
	font-size:4vw;
}

@font-face {
    font-family: 'cinzelregular';
    src: url('cinzel-regular-webfont.woff2') format('woff2'),
         url('cinzel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	font-family:'Cinzel';
	font-style:italic;
	color:#edb;
}

#title{
	font-size: 6.5vw;
  overflow: hidden;
  white-space: nowrap;
	letter-spacing:.4vw;
}

body{
	background-color:#000;
}

hr{
	 border: none;
  border-top: 1px solid ;
	color:#edb;	
}

.container h1{
	font-family:'Cinzel';
	font-style:italic;
	color:#edb;
	text-transform:uppercase;

}

.container-fluid .jumbotron{
	background-color:#000;
	padding-bottom:0em;
}




